* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;

    background-color: hsl(217, 54%, 11%);
}

.cards-container {
    min-width: 320px;
    max-width: 640px;
    height: 600px;
    padding: 20px;

    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    box-shadow: 1px 20px 30px 30px rgb(12,23,41);
}

.cards-container__img {
    position: relative;
}

.cards-container__img img{
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.cards-container__img--hover {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.cards-container__img--hover:hover {
    background-color: rgb(0, 255, 255, 0.5);
    background-image: url('./images/icon-view.svg');
    background-position: center;
    background-size: 52px;
    background-repeat: no-repeat;
}


.cards-container__description {
    width: 300px;
    margin-top: 30px;
}

.cards-container__description a {
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.cards-container__description a:hover {
    color: hsl(178, 100%, 50%);
}

.cards-container__description p {
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;

    color: hsl(215, 51%, 70%);
}

.cards-container__price {
    width: 300px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.cards-container__price p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.cards-container__price p:nth-child(1) span {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -2px;
    background-image: url('./images/icon-ethereum.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-container__price p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.cards-container__price p:nth-child(2) span {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -2px;
    background-image: url('./images/icon-clock.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-container__attribution {
    width: 300px;
    margin-top: 16px;
    padding-top: 12px;

    border-top: 1.5px solid hsl(215, 32%, 27%);
}

.cards-container__attribution span {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align:middle;
    background-image: url('./images/image-avatar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1.5px solid #fff;
    border-radius: 50%;
}

.cards-container__attribution p {
    margin-left: 12px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.cards-container__attribution b {
    font-weight: 300;
    color: #fff;
}

.cards-container__attribution b:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}